@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-image: url("https://images.unsplash.com/photo-1666126452579-f032d653c7f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 600px;


}


@media (max-width : 720px) {



    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;

    }

    .input-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }

    .date-p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }

    .name-country {
        font-size: 1.5em;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .high-low {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
        margin: auto;
    }

    .temp-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .div-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;

    }

    .div-details .div-descriptions {
        margin-top: 10px;
        padding: 10px;
        font-size: 1.2em;
        text-align: center;

    }
}